.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.label {
  font-family: var(--font-family);
  width: 100%;
  font-size: larger;
  font-weight: 600;
}

.select {
  padding: 1em 2em;
  border-radius: 0.5em;
  background-color: var(--bg-body);
  border: none;
  font-family: var(--font-family);
  font-style: larger;
  font-weight: 600;
  outline: none;
  color: var(--color-text);
  width: 100%;
}
