.form {
  flex-direction: column;
  display: flex;
  margin-top: 2em;
  padding: 0 10em;
  gap: 2em;
}

.button {
  transition: all 0.5s ease-in-out;
  font-family: var(--font-family);
  font-size: large;
  color: var(--bg-body);
  margin-top: 1em;
  padding: 1em 2em;
  background-color: var(--bg-btn);
  border: none;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: var(--shadow-md);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--bg-btn-hover);
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .form {
    padding: 0 1em;
  }
}
